<% include ./partials/loginHead %>

<script> alert("Welcome to a test version of my application.\n\nIf you are interested in checking things out use the following login info:\n\n  'USERNAME': RR ; 'PASSWORD': test\n\n Of course, feel free to search for and add a book of your choice, and thanks for taking a look around")</script>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/login" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>
